services:
    db:
        image: "postgres:14"
        restart: unless-stopped
        ports:
            - "${DB_PORT}:${DB_PORT}"
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_DB: ${DB_NAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - db-data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
            interval: 5s
            timeout: 5s
            retries: 10

    app:
        build:
            context: .
        develop:
            watch:
                - action: sync+restart
                  path: .
                  target: /app
                  ignore:
                      - node_modules/
        depends_on:
            db:
                condition: service_healthy
        environment:
            DB_HOST: ${DB_HOST}
            DB_USER: ${DB_USER}
            DB_DATABASE: ${DB_NAME}
            DB_PASSWORD: ${DB_PASSWORD}
        ports:
            - "${NODE_PORT}:${NODE_PORT}"

volumes:
    db-data:
